# Récupère ces valeurs dans Supabase > Project Settings > Database
SUPABASE_DB_HOST=db.xxxxxxxxxxxx.supabase.co
SUPABASE_DB_PORT=5432
SUPABASE_DB_NAME=postgres
SUPABASE_DB_USER=postgres
SUPABASE_DB_PASSWORD=changeme

DJANGO_SECRET_KEY=change-moi-en-production
DJANGO_DEBUG=True
